{{ define "main" }}

<!-- all tags or single tag -->
{{ $pageTitle := .Title }}
{{ $isTaxonomyPage := eq .Type "tags" }}
{{ $isAllTags := and (eq .Title "Tags") }}
{{ $hasMany := gt 1 (len .Data.Pages) }}
{{ if $isTaxonomyPage }}
  {{ if $isAllTags }}
    <h1>All tags</h1>
  {{ else }}

  <h1 class="mb-6">#{{ .Title }}</h1>
  <!-- back to all tags -->
    <button class="mb-6 p-4 text-lg">
      <a href="/tags" class="no-underline">
        ← all tags
      </a>
    </button>

    <h3 class="mb-14 text-lg">{{ .Data.Pages | len }}
      {{ if $hasMany }} posts {{ else }} post {{ end }} tagged with #{{ .Title }}</h3>
  {{ end }}
{{ end }}

{{ with .Params.description }}
<p>{{.}}</p>
{{ end }}

<ul>
  {{ range .Data.Pages }}
    <li class="my-4" >
      <!-- add date to single tag view -->
      {{ if not $isAllTags }}
      <time class="inline-block text-sm antialiased opacity-60 mr-4">{{ .Date | time.Format ":date_medium" }}</time>
      {{ end }}

      <span class="inline-block ml-4 my-0">
        <a href="{{ .Permalink}}">{{ .Title }}</a>
      </span>
    </li>
  {{ end }}
</ul>
{{ end }}